@media(max-width: 1439px) {}

@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about__wrapper-slider {
        width: 440px;
    }

    .feedback {
        &__item {
            grid-template-columns: 170px 650px;
        }
    }

    .works {
        &__wrapper-hairs {
            width: 900px;
            padding-bottom: 50px;
            padding-right: 40px;
            padding-left: 40px;

            .prev-hairs {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                left: -25px;

            }

            .next-hairs {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                right: -25px;

            }
        }

        &__wrapper-nails {
            width: 900px;
            padding-bottom: 50px;
            padding-right: 40px;
            padding-left: 40px;

            .prev-nails {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                left: -25px;

            }

            .next-nails {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                right: -25px;

            }
        }
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .nav__item {
        a {
            font-size: 17px;
        }
    }

    .promo {
        &__card {
            width: 300px;

            &-circles {
                width: 200px;
                top: 100px;
            }

            &-text {
                display: none;
            }
        }
    }

    .about {
        &__wrapper {
            display: block;

            &-slider {
                margin: 0 auto;
                width: 640px;
            }
        }
    }

    .feedback {
        &__item {
            grid-template-columns: 170px 400px;
        }
    }

    .contacts {
        &__wrapper {
            display: block;
        }

        &__map {
            margin: 0 auto;
        }

        &__descr {
            margin: 0 auto;
            min-height: 204px;
            padding-top: 20px;
        }
    }



    .footer {
        &__deliz {
            width: 250px;
        }

        &__social {
            width: 250px;
        }

        &__powered {
            width: 250px;
        }
    }

    .services {
        &__items {
            padding: 25px 10px 0 10px;
        }

        &__item {
            width: 200px;

        }

        &__img {

            width: 200px;
            height: 200px;
        }

        &__text {

            font-size: 18px;

        }
    }

    .works {
        &__wrapper-hairs {
            width: 700px;
            padding-bottom: 50px;
            padding-right: 40px;
            padding-left: 40px;

            button {
                border: none;
                background-color: white;
                color: white;

                img {
                    width: 42px;
                    height: 42px;
                }
            }

            .prev-hairs {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                left: -8px;

            }

            .next-hairs {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                right: -8px;

            }
        }

        &__wrapper-nails {
            width: 700px;
            padding-bottom: 50px;
            padding-right: 40px;
            padding-left: 40px;

            button {
                border: none;
                background-color: white;
                color: white;

                img {
                    width: 42px;
                    height: 42px;
                }
            }

            .prev-nails {

                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                left: -8px;

            }

            .next-nails {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                right: -8px;

            }
        }
    }

    .masters {
        &__choise {
            padding: 35px 5px 35px 5px;

            button {
                width: 230px;
                height: 52px;
                font-size: 16px;
                // font-style: italic;

            }
        }
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .promo {

        background: url("../img/main-dark.jpg") no-repeat 40%/cover;
    }

    .nav {
        &__wrapper {
            height: 50px;
        }



        .nav__items {
            height: 50px;

            a {
                font-size: 15px;
                line-height: 50px;
            }
        }

        .nav__item {
            &:nth-child(1) {
                display: none;
            }


        }
    }

    .promo {
        &__card {
            width: 250px;

            &-circles {
                width: 200px;
                left: 50%;
                transform: translateX(-50%);
                top: 60%;

                svg {
                    width: 35px;
                    height: 35px;
                }
            }

            &-text {
                display: none;
            }
        }
    }

    .about {
        &__title {
            font-size: 20px;
        }

        &__wrapper {
            min-height: 600px;

            &-text {

                padding-right: 0px;
                font-size: 16px;
            }

            &-slider {
                width: 400px;
                height: 200px;

                .tns-nav {
                    bottom: -50px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .feedback {
        &__item {
            grid-template-columns: 170px 300px;
            column-gap: 20px;
        }

        &__header {
            font-weight: 400;
        }

        &__text {
            padding-top: 20px;
            font-size: 15px;
        }
    }

    .footer {
        &__deliz {
            width: 200px;
        }

        &__social {
            width: 200px;
        }

        &__powered {
            width: 200px;
        }
    }

    .services {
        &__items {
            padding: 25px 10px 0 10px;
            flex-wrap: wrap;
        }

        &__item {
            width: 300px;

        }

        &__img {
            width: 300px;
            height: 300px;
        }

        &__text {

            font-size: 18px;

        }
    }

    .prices {
        &__title {
            padding-top: 70px;

        }

        &__descr {
            padding: 35px 20px 0px 20px;

            p {
                font-size: 17px;

            }
        }

        &__accordion {
            padding: 35px 20px 35px 20px;
        }
    }

    .works {
        &__wrapper-hairs {
            width: 500px;
            padding-bottom: 50px;
            padding-right: 40px;
            padding-left: 40px;

            button {
                border: none;
                background-color: white;
                color: white;

                img {
                    width: 42px;
                    height: 42px;
                }
            }

            .prev-hairs {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                left: -8px;

            }

            .next-hairs {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                right: -8px;

            }
        }

        &__wrapper-nails {
            width: 500px;
            padding-bottom: 50px;
            padding-right: 40px;
            padding-left: 40px;

            button {
                border: none;
                background-color: white;
                color: white;

                img {
                    width: 42px;
                    height: 42px;
                }
            }

            .prev-nails {

                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                left: -8px;

            }

            .next-nails {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                right: -8px;

            }
        }
    }

    .masters {
        &__title {
            padding-top: 70px;

        }

        &__descr {
            padding: 35px 20px 0px 20px;

            p {
                font-size: 18px;
                margin-bottom: 0;
            }

        }
        &__wrapper {
            padding: 15px 10px 35px 10px;
        }
    }

}

@media(max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }


    .nav {
        .nav__items {
            justify-content: start;

            img {
                height: 45px;
            }
        }

        .nav__item {
            display: none;

            &:nth-child(1) {
                display: block;

            }

        }

        &__hamburger {
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            width: 35px;
            height: 15px;

            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 5px;
                transition: 0.3s all;
            }

            &_active {
                display: block;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                width: 35px;
                height: 15px;

                span {
                    display: block;
                    height: 2px;
                    width: 100%;
                    background-color: #fff;
                    transition: 0.3s all;
                    margin-bottom: -2px;

                    &:nth-child(1) {
                        transform: translateY(6px) rotate(-45deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        transform: translateY(6px) rotate(45deg);
                    }
                }
            }
        }

        .nav__items__mob_active {
            padding-top: 80px;
            position: fixed;
            background-color: rgba(0, 0, 0, .8);
            z-index: 11;
            height: 100vh;
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            left: 0%;
            transition: 1s all;

            .nav__item__mob {
                font-size: 24px;
                margin-bottom: 40px;

                a {
                    color: white;
                }

            }
        }
    }

    .promo {
        background: url("../img/main-dark.jpg") no-repeat 45%/cover;
        min-height: 85vh;

    }

    .about {
        &__title {
            font-size: 25px;
        }

        &__wrapper {
            padding: 20px 0 0 0;
            min-height: 750px;

            &-text {

                padding-right: 0px;
                font-size: 16px;
            }

            &-slider {
                width: 100%;


                .tns-nav {
                    bottom: 10px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .feedback {
        &__title {
            font-size: 25px;

            padding-top: 20px;

        }

        &__items {
            padding: 0px 0px 0px 0px;
        }

        &__item {
            margin-top: 40px;
            min-height: 170px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    .contacts {
        &__title {
            font-size: 25px;

        }

        &__wrapper {
            padding: 20px 0 20px 0;

        }

        &__descr {
            width: 100%;
            min-height: 204px;

        }
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__deliz {
            margin-top: 15px;
            width: 100%;
            order: 2;
            text-align: center;
        }

        &__social {
            width: 100%;
        }

        &-circles {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;


            order: 1;

            svg {
                transition: .5s all;

                &:hover {
                    width: 60px;
                    height: 60px;
                }
            }

        }

        &-text {
            display: none;
        }

        &__powered {
            padding-top: 1px;
            width: 100%;
            text-align: end;
            order: 3;
            margin-top: 20px;

            img {

                width: 20px;
            }
        }
    }

    .services {
        &__descr {
            font-size: 18px;
            padding: 30px 10px 0 10px;
        }
    }

    .works {
        &__title {
            font-size: 30px;
            font-weight: 600;
            padding-top: 70px;
            text-align: center;
        }

        &__descr {
            padding: 35px 10px 0px 10px;

            p {
                font-size: 17px;
                margin-bottom: 0;
            }
        }

        &__wrapper-hairs {
            width: 300px;
            padding-bottom: 50px;
            padding-right: 40px;
            padding-left: 40px;

            &-descr {
                font-size: 20px;
                padding-top: 25px;
            }

            button {
                border: none;
                background-color: white;
                color: white;

                img {
                    width: 52px;
                    height: 52px;
                }
            }

            .prev-hairs {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                left: -25px;

            }

            .next-hairs {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                right: -25px;

            }
        }

        &__wrapper-nails {
            width: 300px;
            padding-bottom: 50px;
            padding-right: 40px;
            padding-left: 40px;

            &-descr {
                font-size: 20px;
                padding-top: 0px;
            }

            button {
                border: none;
                background-color: white;
                color: white;

                img {
                    width: 52px;
                    height: 52px;
                }
            }

            .prev-nails {

                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                left: -25px;

            }

            .next-nails {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                right: -25px;

            }
        }
    }

    .masters {
        &__descr {
            padding: 15px 5px 0px 5px;
        }

        &__choise {
            padding: 15px 10px 15px 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            button {
                width: 270px;
                height: 52px;
                font-size: 18px;
                margin-bottom: 15px;

            }
        }
        &__wrapper {
            padding: 15px 0px 35px 0px;
        }
    }

}

@media(max-width: 415px) {
    .container {
        width: 100%;
        padding: 0 7px;
    }

    .contacts {
        &__map {
            display: none;

            &-iphone5 {
                display: none;
            }

            &-iphoneX {
                display: none;
            }

            &-iphone12 {
                display: none;
            }

            &-iphonePlus {
                width: 100%;
                display: block;

            }
        }
    }

    .prices {

        &__accordion {
            padding: 35px 5px 35px 5px;

            &-header {
                span {
                    font-size: 21px;
                }

                &__active {
                    span {
                        font-size: 21px;
                    }

                }
            }
        }
    }
}

@media(max-width: 391px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .contacts {
        &__map {
            display: none;

            &-iphone5 {
                display: none;
            }

            &-iphonePlus {
                display: none;
            }

            &-iphone12 {
                width: 100%;
                display: block;
            }

            &-iphoneX {
                display: none;

            }
        }
    }

}

@media(max-width: 376px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .contacts {
        &__map {
            display: none;

            &-iphone5 {
                display: none;
            }

            &-iphonePlus {
                display: none;
            }

            &-iphone12 {
                display: none;
            }

            &-iphoneX {
                width: 100%;
                display: block;

            }
        }
    }

    .prices {
        &__descr {
            padding: 25px 0px 0px 0px;
        }

        &__accordion {
            padding: 35px 0px 35px 0px;

            &-header {
                span {
                    font-size: 19px;
                }

                &__active {
                    span {
                        font-size: 19px;
                    }

                }
            }
        }
    }
}

@media(max-width: 321px) {
    .container {
        width: 100%;
        padding: 0 4px;
    }

    .contacts {
        &__map {
            display: none;

            &-iphone5 {
                width: 100%;
                display: block;
            }

            &-iphonePlus {
                display: none;
            }

            &-iphone12 {
                display: none;
            }

            &-iphoneX {
                display: none;

            }
        }
    }

    .prices {
        &__descr {
            padding: 25px 0px 0px 0px;

            p {
                font-size: 17px;
                margin-bottom: 0;
            }

            span {
                font-size: 15px;

            }
        }

        &__accordion {
            padding: 25px 0px 25px 0px;

            &-header {
                span {
                    font-size: 17px;

                    &::after {

                        right: 5px;

                    }
                }

                &__active {
                    span {
                        font-size: 17px;

                        &::after {
                            top: 18px;
                            right: 5px;

                        }
                    }

                }
            }

            &-block {
                &__active {

                    ul {
                        li {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }

    .works {


        &__wrapper-hairs {

            &-descr {
                font-size: 20px;
                padding-top: 15px;
            }

            button {

                img {
                    width: 42px;
                    height: 42px;
                }
            }

            .prev-hairs {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                left: -6px;

            }

            .next-hairs {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                right: -6px;

            }
        }

        &__wrapper-nails {
            width: 300px;
            padding-bottom: 50px;
            padding-right: 40px;
            padding-left: 40px;

            &-descr {
                font-size: 20px;
                padding-top: 15px;
            }

            button {
                border: none;
                background-color: white;
                color: white;

                img {
                    width: 42px;
                    height: 42px;
                }
            }

            .prev-nails {

                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                left: -6px;

            }

            .next-nails {
                position: absolute;
                top: 50%;
                // transform: translateY(-50%);
                right: -6px;

            }
        }
    }
}