.prices {
    &__title {
        font-size: 30px;
        font-weight: 600;
        padding-top: 100px;
        text-align: center;
    }

    &__line {
        width: 80px;
        height: 4px;
        background-color: $main_color_dark;
        margin: 0 auto;
        border-radius: 30px;
    }

    &__descr {
        padding: 35px 50px 0px 50px;

        p {
            font-size: 19px;
            margin-bottom: 0;
        }

        span {
            font-size: 16px;

        }
    }

    &__accordion {
        padding: 35px 90px 35px 90px;

        &-header {

            transition: all .3s ease-out;

            span {
                font-size: 24px;
                font-weight: 300;
                line-height: 45px;
                position: relative;
                display: block;
                border-bottom-color: rgb(216, 216, 216);
                border-bottom-style: solid;
                border-bottom-width: 1px;

                &::after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 15px;
                    height: 15px;
                    border-top: 2px solid #bba788;
                    border-right: 2px solid #bba788;
                    transform: rotate(135deg);
                    top: 13px;
                    right: 10px;
                    transition: all .3s ease-out;
                }

                &:hover {
                    color: $main_color;
                    cursor: pointer;
                    transition: all .3s ease-out;

                    &::after {
                        border-top: 2px solid $main_color;
                        border-right: 2px solid $main_color;
                    }
                }

            }

            &:hover {
                color: $main_color;
                cursor: pointer;
                border-top: $main_color;
                border-right: $main_color;
            }

            &__active {
                display: block;
                transition: all .3s ease-out;

                span {
                    color: $main_color;
                    font-size: 24px;
                    font-weight: 300;
                    line-height: 45px;
                    position: relative;
                    display: block;
                    border-bottom-color: rgb(216, 216, 216);
                    border-bottom-style: solid;
                    border-bottom-width: 1px;

                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        width: 15px;
                        height: 15px;
                        border-top: 2px solid $main_color;
                        border-right: 2px solid $main_color;
                        transform: rotate(-45deg);
                        top: 20px;
                        right: 10px;
                        transition: all .3s ease-out;
                    }

                    &:hover {
                        color: $main_color;
                        cursor: pointer;
                        transition: all .3s ease-out;

                        &::after {
                            border-top: 2px solid $main_color;
                            border-right: 2px solid $main_color;
                        }
                    }

                }

                &:hover {
                    color: $main_color;
                    cursor: pointer;
                    border-top: $main_color;
                    border-right: $main_color;
                }
            }
        }

        &-block {
            // max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 0.3s ease-out;

            &__active {
                opacity: 1;
                overflow: visible;
                transition: all 0.3s ease-out;

                ul {
                    list-style-type: none;

                    .serviceName {
                        line-height: 45px;
                        font-weight: 300;

                    }
                    .lengthHairs {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .priceName {
                        line-height: 18px;
                        font-weight: 300;
                        padding-right: 4px;
                        width: 100px;
                        font-size: 16px;
                        text-align: center;
                        // &:last-child {
                        //     width: 150px;
                        // }
                    }
                    

                    li {
                        padding-left: 15px;
                        padding-right: 15px;
                        display: flex;
                        justify-content: space-between;
                        border-bottom-color: rgb(216, 216, 216);
                        border-bottom-style: solid;
                        border-bottom-width: 1px;
                        font-size: 18px;
                        font-weight: 300;
                        line-height: 35px;
                    }
                }

                .prices__accordion-block-header {

                    display: flex;
                    background-color: $main-color;
                }
            }
        }
    }
}