.promo {
    position: relative;
    background: url("../img/main-dark.jpg") no-repeat 100%/cover;
    min-height: 100vh;
    box-shadow: 0 10px 5px rgb(59, 59, 59);

    &__card {
        position: absolute;
        width: 400px;
        top: 40%;
        transform: translateY(-50%);
        transform: translateX(-100%);


        img {
            width: 100%;
        }

        animation-name: visitCard;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 2s;
        animation-fill-mode: forwards;

        &-circles {
            width: 300px;
            position: absolute;
            display: flex;
            justify-content: space-around;
            align-items: center;

            top: 130px;
            left: 50px;
        }


        &-text {
            font-size: 14px;
            font-weight: 100;
            position: absolute;
            color: white;
            top: 185px;
            left: 50%;
            transform: translateX(-50%);
            
        }
    }
}