.promo {
    position: relative;
    background: url("../img/main-dark.jpg") no-repeat 100%/cover;
    min-height: 100vh;

    &__card {
        position: absolute;
        width: 400px;
        top: 230px;
        transform: translateX(-100%);
        // left: -100%;

        img {
            width: 100%;
        }

        animation-name: visitCard;
        animation-duration: 1s;
        animation-timing-function: ease;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        // transform: translateX(0%);
    }
}